<body class="bg-body-tertiary">
<div class="container">
    <main>
        <div class="py-5">
            <h2>Add Event</h2>
        </div>
        <div class="col-md-7 col-lg-8">
            <form>
                <div class="row g-3">
                    <div class="col-12">
                        <label class="form-label" for="eventtype">EventType</label>
                        <select class="form-select" id="eventtype" name="eventType" required>
                            <option value="">Choose...</option>
                        </select>
                    </div>

                    <div class="col-sm-6">
                        <label class="form-label" for="startTime">Start</label>
                        <input class="form-control" id="startTime" name="startTime" placeholder="" type="text"
                               value="">
                    </div>

                    <div class="col-sm-6">
                        <label class="form-label" for="endTime">End</label>
                        <input class="form-control" id="endTime" name="endTime" placeholder="" type="text"
                               value="">
                    </div>

                    <div class="col-12">
                        <label class="form-label" for="notes">Notes</label>
                        <input class="form-control" id="notes" name="notes" placeholder="Put your notes in here..."
                               type="text">
                    </div>

                </div>
                <br>
                <div data-field="error"></div>
                <hr class="my-4">
                <button class="btn btn-primary btn-lg" data-action="add">Add</button>
                <button class="btn btn-secondary btn-lg" data-action="cancel">Cancel</button>
            </form>
        </div>
    </main>
</div>
</body>
